html {
  font-family: sans-serif, helvetica;
}

h1 {
  text-align: center;
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h2 {
  color : white;
  font-size: 32px;
  font-weight: bold;
}

strong {
  font-weight: bold;
  color: blue;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}
